.homepage {
    width: 100%;
    height: 100%;
}

.text {
    font-size: 16px;
    padding: 10px;
    color: #07345A;
    font-weight: bold;
}

.button {
    margin: 20px auto;
    display: grid;
    place-items: center;
}

.next-btn {
    text-decoration: none;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    background-color:#F47458;
    cursor: pointer;
    transition: all 250ms;
    outline-width: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.43);
}

.next-btn i {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes next {
    to {
        left: 65%;
    }
}

.next-btn:hover {
    background-color: #fff;
    box-shadow: none;
}

.next-btn:hover .fa-arrow-right {
    color: #F47458;
    animation: next .5s infinite alternate;
}

.next-btn .fa-arrow-right {
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: color .25s;
}




